body {
    background-color: #fbfbfb;
    font-family: 'Helvetica Neue';
}

.btn {
    padding: 1em;
}

.nav-bar {
    position: relative;
    text-align: center;
    padding: 3em;
    color: #434343;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 2;
}

.download-btn {
    background-color: #D1FFD2;
    padding: 1em 3em 1em;
}

a {
    text-decoration: none;
    color: #434343;
}

a:hover {
    color: #D1FFD2;
    background-color: #434343;
    transition: 0.3s;
}

.image-paper {
    position: absolute;
    left:0;
    top: 10px;
    z-index: 1;
}

.container-one{
    position: static;
    padding: 0em 0em 20em;
}

.title-text{
    text-align: right;
    padding: 3em;
}

mark {
    background-color: #EFD2FC;
    color: #434343;
}

mark2 {
    background-color: #FDFFB6;
    color: #434343;
}

h1 {
    color: #434343;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: #434343;
}

.container-two {
    text-align: center;
    font-size: 1.5em;
    color: #434343;
}

p {
    text-align: right;
}

.column-one {
    float: left;
    width: 30%;
    margin: 20px;
    padding: 20px;
}

.column-two {
    float: right;
    width: 60%;
    padding: 30px;
}

.article-pic {
    width:700px;
}