li {
  height: 50px; 
  width: 250px;
  border: 1px solid blue;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-bottom: 10px; /* Add margin-bottom for spacing */
}

li a {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 50px;
}
