body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.note-card:hover {
  background-color: black;
  color: white;
}

.note-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 15px;
  margin: 10px;
}

h1.fallback-message {
  font-family: "Courier New", monospace;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.note-card p {
  margin: 0;
  overflow: hidden; /* Add overflow: hidden to clip the content */
  position: relative;
}

.note-card p.date {
  font-size: 14px;
  font-family: "Courier New", monospace;
  font-style: italic;
  margin-top: 10px;
}

.buttons-container {
  display: flex;
  gap: 5px;
}

button {
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
}

.delete-button {
  background-color: #ff5a5a;
  color: #fff;
}

.copy-button {
  background-color: #00aaff;
  color: #fff;
}

.save-note-button {
  background-color: #4caf50;
  color: #fff;
}

.note-input {
  width: 100%;
  min-height: 40px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  resize: vertical; /* optional: allow user to resize */
}

.note-card p.scrollable {
  overflow-y: auto;
  max-height: 60px;
  font-size: 16px;
  margin-bottom: 10px;
}